* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;

    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px
}

.links a,
.hero-card p {
    font-size: 18px;
    color: #E5E7EB;
}

.links a {
    text-decoration: none;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header {
    display: flex;
    flex-flow: column;
    background-color: #1F2937;
    padding: 16px 128px 80px;
    gap: 48px
}

.hero {
    display: flex;
}

.hero-card h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-card button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}

.hero .image-placeholder {
    background-color: rgba(128, 128, 128, 0.559);
    color: #F9FAF8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-card {
    flex: 1;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 48px;
}

.information .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.info-card {
    display: flex;
    flex-direction: column;
    width: 144px;
    gap: 8px;
}

.info-card .info-image {
    height: 144px;
    border: 4px #3882F6 solid;
    border-radius: 10%;
}

.info-card .subtext {
    color: #1F2937;
    text-align: center;
}